:root {
	--chalk: linear-gradient(
			0.4turn,
			rgb(255, 255, 255, 0.8),
			rgb(255, 255, 255, 0.5),
			rgb(255, 255, 255, 0.6),
			rgb(255, 255, 255, 0.5),
			rgb(255, 255, 255, 0.8),
			rgb(255, 255, 255, 0.5),
			rgb(255, 255, 255, 0.9),
			rgb(255, 255, 255, 0.9),
			rgb(255, 255, 255, 0.9),
			rgb(255, 255, 255, 0.9),
			rgb(255, 255, 255, 0.5),
			rgb(255, 255, 255, 0.6),
			rgb(255, 255, 255, 0.8),
			rgb(255, 255, 255, 0.77),
			rgb(255, 255, 255, 0.7),
			rgb(255, 255, 255, 0.6),
			rgb(255, 255, 255, 0.5),
			rgb(255, 255, 255, 0.9)
		)
		1;
}

body {
	background-color: rgb(0, 48, 0);
	color: #ffffffc7;
	scrollbar-width: thin;
	scrollbar-color: white transparent;
	font-family: "Farsan", sans-serif;

	font-size: 1.5rem;
	font-weight: 600;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-image: var(--chalk);
	border-width: 4px;
	border-style: solid;
	border-radius: 4px;
	background-color: #1e3708d2;
	background: url("/grass.webp");
	background-size: cover;
}

h1 {
	font-size: 6rem;
	font-weight: 900;
	margin: 50px;
	color: var(--chalk);
}
#datebuttons {
	display: grid;
	grid-template-columns: 3fr 2fr 3fr;
	margin-bottom: 50px;
	gap: 20px;
	align-items: center;
	width: max-content;
	justify-items: center;
	font-size: larger;
	background-color: #1e3708d2;
	padding: 50px;
	border-radius: 4px;
	border-image: white;
	border-width: 4px;
	border-style: solid;
}

#selecteddate {
	font-size: larger;
	font-weight: 600;
	text-decoration: underline;
}

.otherdate {
	font-size: larger;
	font-weight: 400;
	color: #acacacd2;
	cursor: pointer;
}

.otherdate:hover {
	color: #ffffffd2;
}

td {
	padding: 10px 20px;
}

#gamestable {
	padding: 10px;
	border-radius: 4px;
	border-image: var(--chalk);
	border-width: 15px;
	border-style: solid;
	background-color: #1e3708d2;
}

td img {
	max-width: 50px;
}

.hidden {
	display: none;
}

.showscore {
	display: inherit;
	font-size: 2rem;
}

tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr 1fr 1.5fr;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.486);
	padding-bottom: 5px;
}

.showallscoresbutton,
.scorebutton,
.showstandingsbutton,
.scorebutton,
.matchdetailsbutton,
.datebutton,
.closepopupbutton {
	width: max-content;
	background-color: rgb(0, 48, 0);
	color: rgb(231, 231, 231);
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 2px 1px rgb(31, 31, 31);
	border-image: rgba(255, 255, 255, 0.445);
	border-width: 1px;
	border-style: solid;
	width: 100%;
}

.showallscoresbutton:hover,
.scorebutton:hover,
.showstandingsbutton:hover,
.scorebutton:hover,
.matchdetailsbutton:hover,
.closepopupbutton:hover,
.datebutton:hover {
	background-color: rgb(231, 231, 231);
	color: rgb(0, 48, 0);
	cursor: pointer;
	transition: 0.5s;
}

.showdetails {
	display: flex;
	justify-content: center;
	background-color: darkgreen;
}

#popup {
	background-color: #1e3708f8;
	padding: 1vh;
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	justify-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	scrollbar-width: thin;
	scrollbar-color: white transparent;
	overflow-y: auto;
}

#popup table {
	display: block;
	width: 100%;
	max-height: 80vh;
	overflow: scroll;
}

#popuptable tr {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 4px;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}
